@font-face {
  font-family: "Special Elite";
  src: url("/fonts/SpecialElite.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sophie Comic";
  src: url("/fonts/sophiecomic.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
}